rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null && request.auth.uid == 'Jscmlh1RoQOdltLpvgTjJQNUWma2';
    }
    
    // Public read, Admin write
    match /{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
